/* ============================================= */
/*              Body                             */
/* ============================================= */

body {
    position: relative;
    padding: 30px 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 8% auto;
    position: relative;
    text-align: center;
    background: $white;
    border: 1px solid $border;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0 0 10px $dark-grey;
}

.hidden {
    display: none;
}

.modal-nav {
    @include flexy($just: space-between);
}

.modal-left,
.modal-right {
    color: $dark-text;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}