/* ============================================= */
/*              Body                             */
/* ============================================= */

body {
    position: relative;
    padding: 30px 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}