/* ============================================= */
/*              Button                           */
/* ============================================= */

.modal-close {
    position: absolute;
    color: $dark-text;
    background-color: white;
    right: 15px;
    top: 5px;
    border: none;
    cursor: pointer;
}

.modal-nav {
    @include flexy($just: space-between);
}

.modal-left,
.modal-right {
    color: $dark-text;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}