/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    font-family: 'Roboto', sans-serif;
    color: $dark-text;
}

.title {
    font-size: 1.8rem;
}

.name {
    font-size: 1.5rem;
}

.title,
.name {
    font-weight: 300;
}

.email,
.address,
.phone-number,
.birthday {
    font-weight: 200;
}